body{
     background: #ffffff url(../img/timg.jpg) no-repeat fixed top;
}
p.thick {font-weight:bold;}
p{color:green}

span{
	color:red;
	font-weight:bold;
}
.loginForm{
	margin-left:625px;
	margin-top:170px;
	padding:10px;
}